src/logs/*
!.gitkeep
node_modules/
dist/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.DS_Store
coverage/
.idea/
*.tsbuildinfo
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
*.tgz
.cache/

# Optional npm cache directory
.npm/
.eslintcache
.next/
.nuxt/
out/
build/

.env
.env.development
.env.production
.env.test

/generated/prisma
/prisma/migrations/
/coverage
/tests/e2e/reports/